<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= snowboard.name %> </h1>
    <hr>
    <p><strong>Price: </strong>$<%= snowboard.price %></p>
    <p><strong>Brand: </strong><%= snowboard.brand.name %></p>
    <p><strong>Bend: </strong><%= snowboard.bend %></p>
    <p><strong>Shape: </strong><%= snowboard.shape %></p>
    <p><strong>Mounting system: </strong><%= snowboard.mount %></p>
    <p><strong> <a href="<%= snowboard.externalLink %>" target="_blank">Product Link</a></strong></p>
</body>
</html>